# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pyright
pyrightconfig.json

# pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pylint
pylint-report.txt
pylint-output.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage-final.json
test-results.xml

# VS Code
.vscode/

# Output folder
output/*
!output/.gitkeep
